<?php
header("Cache-control:no-cache");
header("Pragma:no-cache");
?>
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Сброс пароля AUES</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>



<!-- Language selection buttons -->
<div class="language-selection">
    <a href="/">Русский</a>
    <a href="/kz.html">Қазақша</a>
</div>


<!-- ФОРМА -->
<div class="form-container">
    <img src="https://aues.edu.kz/backend/web/img/logo_aues_298.png" alt="AUES Logo" width="30%" style="margin-bottom: 20px;">
    <h1>Сброс пароля</h1>
    <p>Введите свои данные для сброса пароля. <br> Пароль можно сбрасывать не чаще одного раза в день.</p>
    <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post">
        <label for="user">Введите логин</label>
        <input type="text" id="user" name="user" placeholder="Пример: i.ivanov" value="<?php echo @$_POST['user']; ?>" required>

        <label for="mail">Введите почту</label>
        <input type="email" id="mail" name="mail" placeholder="Пример: i.vanov@aues.kz" value="<?php echo @$_POST['mail']; ?>" required>

        <label for="phone">Введите телефон</label>
        <input type="tel" id="phone" name="phone" placeholder="Пример: 87071234567" pattern="\d{11}" value="<?php echo @$_POST['phone']; ?>" required>
        <span class="text-helper">Oбразец 87071234567</span>

        <input type="submit" value="Сброс" name="rest" class="submit-btn">
    </form>
    <a href="https://its.aues.kz/index.php/2020/04/13/ruk_po_sbrosu_parolya/" target="_blank">>> Руководство по сбросу пароля <<</a>
</div>


<!-- ЧТОБЫ СООБЩЕНИЯ ВЫВОДИЛИСЬ В НУЖНОМ КОНТЕЙНЕРЕ ECHO() -->
<div class="output-message">
    <?php
    ini_set("display_errors","on");
    error_reporting(E_ALL);

    if(isset($_POST["rest"]))
    {
        $user=$_POST["user"];
        $mail=$_POST["mail"];
        $phone=$_POST["phone"];

        $admin="cn=sbros,ou=Services,ou=Group,ou=aues,dc=aues,dc=kz";
        $pass='P@ssw0rdz4';
        $dc="ldap://192.168.10.25";
        $object='ou=aues,dc=aues,dc=kz';

        $conn=ldap_connect($dc,389) or die("Нет подключения к контроллеру");

        if($conn)
        {
            $bind=ldap_bind($conn,$admin,$pass);
            if($bind)
            {
                $filter="samaccountname=$user";
                $attr=array("samaccountname");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    $ldap_user=$result[0]['samaccountname'][0];
                }

                $attr=array("mail");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    @$ldap_mail=$result[0]['mail'][0];
                }

                $attr=array("TelService");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    @$ldap_phone=$result[0]['telservice'][0];
                }

                $attr=array("DateService");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    @$change_date=$result[0]['dateservice'][0];
                }

                $segod=date("Y-m-d");
                $zapret=($segod==$change_date);

                if(empty($ldap_user)) {
                    echo "Введённая информация неверна!";
                    ldap_close($conn);
                    exit;
                }

                if($zapret) {
                    echo "<font color=red><b>Нельзя менять пароль больше 1 раза в день!</b></font><br>";
                    ldap_close($conn);
                    exit;
                }

                if(strtolower($user)==strtolower($ldap_user) &&
                strtolower($mail)==strtolower($ldap_mail) &&
                strtolower($phone)==strtolower($ldap_phone) &&
                !$zapret)
                {
                    echo "Ваш пароль будет сброшен, новый пароль придёт в СМС на телефон $ldap_phone<br>";
                    echo file_get_contents("http://192.168.10.32/new-sbros.php?user=$ldap_user&phone=$ldap_phone");
                }
                else {
                    echo "Введённая информация неверна!";
                }
            } else {
                echo "Логин провален";
            }
        }

        ldap_close($conn);
    }
    ?>
</div>

</body>
</html>