<?php
header("Cache-control:no-cache");
header("Pragma:no-cache");
?>
<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Парольді жаңарту ENERGO</title>
    <link rel="stylesheet" href="20_09_2024.css">
</head>
<body>

<!-- Тілді таңдау батырмалары -->
<div class="language-selection">
    <a href="/">Орысша</a>
    <a href="/recovery_kz.php">Қазақша</a>
</div>

<!-- ФОРМА -->
<div class="form-container">
    <img src="https://aues.edu.kz/backend/web/img/logo_aues_298.png" alt="AUES Logo" width="30%" style="margin-bottom: 20px;">
    <h1>Парольді жаңарту</h1>
    <p>Парольді жаңарту үшін мәліметтерді еңгізіңіз. <br> Парольді күніне тек қана бір ауыстыруға болады</p>
    <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post">
        <label for="user">Логин енгізіңіз</label>
        <input type="text" id="user" name="user" placeholder="Мысалы: i.ivanov" value="<?php echo @$_POST['user']; ?>" required>

        <label for="mail">Почта енгізіңіз</label>
        <input type="email" id="mail" name="mail" placeholder="Мысалы: i.vanov@aues.kz" value="<?php echo @$_POST['mail']; ?>" required>

        <label for="phone">Телефон енгізіңіз</label>
        <input type="tel" id="phone" name="phone" placeholder="Мысалы: 87071234567" pattern="\d{11}" value="<?php echo @$_POST['phone']; ?>" required>
        <span class="text-helper">Үлгі: 87071234567</span>

        <input type="submit" value="Қалпына келтіру" name="rest" class="submit-btn">
    </form>
    <a href="https://its.aues.kz/index.php/2020/04/13/ruk_po_sbrosu_parolya/" target="_blank"> >> AUES.KZ корпоративтік аккаунт паролін қалпына келтіру жөніндегі нұсқаулық <<</a>
</div>

<!-- ҚАТЕЛЕРДІ ЕШО() КОНТЕЙНЕРІНЕ ШЫҒАРУ -->
<div class="output-message">
    <?php
    ini_set("display_errors","on");
    error_reporting(E_ALL);

    if(isset($_POST["rest"]))
    {
        $user=$_POST["user"];
        $mail=$_POST["mail"];
        $phone=$_POST["phone"];

        $admin="cn=sbros,ou=Services,ou=Group,ou=aues,dc=aues,dc=kz";
        $pass='P@ssw0rdz4';
        $dc="ldap://192.168.10.25";
        $object='ou=aues,dc=aues,dc=kz';

        $conn=ldap_connect($dc,389) or die("Контроллерге қосылу мүмкін болмады");

        if($conn)
        {
            $bind=ldap_bind($conn,$admin,$pass);
            if($bind)
            {
                $filter="samaccountname=$user";
                $attr=array("samaccountname");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    $ldap_user=$result[0]['samaccountname'][0];
                }

                $attr=array("mail");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    @$ldap_mail=$result[0]['mail'][0];
                }

                $attr=array("TelService");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    @$ldap_phone=$result[0]['telservice'][0];
                }

                $attr=array("DateService");
                $srch=ldap_search($conn,$object,$filter,$attr);

                if(ldap_count_entries($conn,$srch))
                {
                    $result=ldap_get_entries($conn,$srch);
                    @$change_date=$result[0]['dateservice'][0];
                }

                $segod=date("Y-m-d");
                $zapret=($segod==$change_date);

                if(empty($ldap_user)) {
                    echo "Енгізілген ақпарат дұрыс емес!";
                    ldap_close($conn);
                    exit;
                }

                if($zapret) {
                    echo "<font color=red><b>Парольді бір күнде бір рет қана өзгертуге болады!</b></font><br>";
                    ldap_close($conn);
                    exit;
                }

                if(strtolower($user)==strtolower($ldap_user) &&
                strtolower($mail)==strtolower($ldap_mail) &&
                strtolower($phone)==strtolower($ldap_phone) &&
                !$zapret)
                {
                    echo "Сіздің пароліңіз қалпына келтіріледі, жаңа пароль $ldap_phone нөміріне SMS арқылы жіберіледі<br>";
                    echo file_get_contents("http://192.168.10.32/new-sbros.php?user=$ldap_user&phone=$ldap_phone");
                }
                else {
                    echo "Енгізілген ақпарат дұрыс емес!";
                }
            } else {
                echo "Кіру сәтсіз аяқталды";
            }
        }

        ldap_close($conn);
    }
    ?>
</div>

</body>
</html>